<div class="kanban__board w-full grid grid-cols-3 p-5 gap-5">
  @for (col of columns; track col.status) {
    <div class="kanban__column rounded-lg" [class]="col.color">
      <div class="kanban__column__header p-5 flex justify-between rounded-b-none rounded-lg font-bold text-xl text-gray-700" [class]="col.color">
        <span>{{ col.label }}</span>
        <span>{{ getTasksForStatus(col.status).length }}</span>
      </div>

      <div
        class="kanban__column__list flex flex-col gap-3 p-7"
        cdkDropList
        [id]="col.status"
        [cdkDropListData]="getTasksForStatus(col.status)"
        [cdkDropListConnectedTo]="['todo', 'in_progress', 'done']"
        (cdkDropListDropped)="drop($event, col.status)"
      >
        @for (task of getTasksForStatus(col.status); track task.id) {
          <div class="kanban__card bg-white rounded-lg p-4 flex flex-col gap-4" cdkDrag [cdkDragData]="task">
            <div *cdkDragPlaceholder class="kanban__card__placeholder"></div>

            <div class="flex justify-between">
              <div class="flex items-center gap-1">
                <span class="text-gray-500 cursor-grab" cdkDragHandle>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M10,4A2,2,0,1,1,8,2,2,2,0,0,1,10,4ZM8,10a2,2,0,1,0,2,2A2,2,0,0,0,8,10Zm0,8a2,2,0,1,0,2,2A2,2,0,0,0,8,18ZM16,6a2,2,0,1,0-2-2A2,2,0,0,0,16,6Zm0,8a2,2,0,1,0-2-2A2,2,0,0,0,16,14Zm0,8a2,2,0,1,0-2-2A2,2,0,0,0,16,22Z"/>
                  </svg>
                </span>
                <span class="px-1.5 py-0.5 text-center rounded-lg font-semibold" [class]="getPriorityClasses(task.priority)">{{ priorityLabels[task.priority] }}</span>
              </div>
              <span class="text-gray-500 cursor-pointer p-1 rounded-sm hover:bg-red-300/30 hover:text-red-500" (click)="openDeleteConfirmationDialog(task.id)">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>
              </span>
            </div>

            <div class="title-description flex flex-col gap-2">
              <h3 class="text-gray-900 text-lg font-semibold">{{ task.title }}</h3>
              <p class="text-gray-600 truncate">{{ task.description }}</p>
            </div>
            <div class="flex justify-between">
              <div class="due-date text-gray-600 flex items-center gap-1">
                <svg aria-hidden="true" width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                </svg>
                <p>{{ task.dueDate }}</p>
              </div>
              <div>
                <span class="bg-gray-200 py-2 px-3 rounded-full text-gray-700 font-semibold">{{ task.assignee.avatar }}</span>
              </div>
            </div>
          </div>
        }

        @if (getTasksForStatus(col.status).length === 0) {
          <div class="kanban__column__empty text-center text-gray-400 text-lg mt-5">
            No tasks..
          </div>
        }
      </div>
    </div>
  }
</div>
